.page
    display: grid
    width: 100vw
    // color: white
    
//landingPage////////////////////////////////////////////////////////
.landing
    position: relative
    width: 100%
    height: 100vh
    z-index: 1
    // scroll-snap-align: end

.bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    filter: brightness(90%)
    z-index: 0

.topbar-cont
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100px
    background: rgba(0,0,0, 0.5)
    z-index: 1000
    margin-top: 50px
    opacity: 1
    &:hover
        // background: rgba(0,0,0, 0.9)

.topbar
    position: relative
    width: 100%
    height: 100%
    border: 1px solid 

.logo
    position: absolute
    top: 0
    left: 0
    height: 100%
    display: flexpadding 40px
    justify-content: center
    align-items: center
    padding-left: calc(max(5vw, 80px))
    opacity: 0.7
    &:hover
        opacity: 1

.logo-item
    filter: invert(100%) 
    padding: 25px 40px 25px 40px
    height: 100%
    transition: 300ms

.nav
    position: absolute
    top: 0
    right: 0
    padding-right: calc(max(10vw, 80px))
    height: 100%

.carousel-cont
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.slide
    width: 100%
    height: 100%
    
.content-cont
    // pointer-events: none
    position: absolute
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    z-index: 10
    color: white
    opacity: 1
    background: radial-gradient(rgba(0,0,0,0.7), transparent)
.content
    position: absolute
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    z-index: 10
    color: white
    opacity: 1


.intro-text
    // margin: 0px 0px 30px 0px
    border-bottom: 1px solid white
    padding: 0px 20px 0px 20px
    font-size: 70px
    font-weight: 40
    text-align: center
    // width: fit-content
    // margin: 0px 30px 0px 30px
.intro-desc
    display: flex
    justify-content: center
    align-items: center
    line-height: 150%
    // padding: 20px 10vw 0px 10vw
    font-size: 36px
    max-width: 70%
    text-align: center
    font-weight: 40

//Transition///////////////////////////////////////////////////////////////////////////////////////////////////

.transition
    z-index: 20
    color: white
    background: rgba(0,0,0,1)
    display: flex
    flex-direction: column
    width: 100%
    // height: 200vh
    justify-content: center
    // justify-items: center
    align-items: center
    // scroll-snap-align: start
    overflow: hidden

.text1
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    min-height: 400px
    line-height: 150%
    font-size: 78px
    text-align: center
    font-weight: 40
    // max-width: 100%
    // background: rgba(0,0,0,0.9)
    color: white

.text2
    @extend .text1
    z-index: 2000
    background: black


.img2
    width: 100%
    height: 100%
    filter: brightness(90%)
    // position: absolute
    // top:0
    // left:0

.img1
    width: 100%
    height: 100%
    filter: brightness(90%)



.services
    display: grid
    width: 100%
    min-height: 100vh
    grid-template-columns: repeat(auto-fit, minmax(570px, 1fr))
    // min-height: 100vh


.service
    position: relative
    width: 100%
    height: 100%
    min-height: max(33vh, 400px)
    display: flex
    justify-content: center
    align-items: center
    &:hover
        cursor: pointer
        .img2
            filter: brightness(40%)
.service-content
    position: absolute
    top: 0
    left: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    background: radial-gradient(rgba(0,0,0,0.3), transparent)
.service-title
    border-bottom: 1px solid white
    padding: 0px 20px 0px 20px
    font-size: 70px
    font-weight: 40
    text-align: center
.service-desc
    line-height: 150%
    padding: 00px 30px 0px 30px
    font-size: 36px
    max-width: 70%
    text-align: center
    font-weight: 40




